.container-1 {
    border-style: dotted;
}
.container-2 {
    border-style: dotted;
}
.container-3 {
    border-style: dotted;
}
.container-4 {
    border-style: dotted;
}
.text {
    border-style: dotted;
}